html,
body {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -1px;
  text-align: left;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
